@charset "UTF-8";

:root {
    --cinza: #464266;
    --azulEscuro: #2A2466;
    --azulClaro: #A098EA;
    --ciano: #5F51E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--cinza);
}

main {
    width: 100%;
    display: flex;
    gap: 5em;
    padding: 5em;
}

section {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--ciano);
    border-radius: 20px;
    padding: 2em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    transition: all .4s ease;
}

h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8em;
    text-transform: capitalize;
}

button {
    background-color: var(--azulEscuro);
    color: white;
    width: 25%;
    font-size: 0.8em;
    padding: 0.7em;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 15px;
    transition: .4s ease-in;
}

button:hover {
    border: 1px solid white;
}

.cpf-div {
    display: flex;
    flex-direction: row;
}

.cpf-texto {
    margin-left: 50px;
    font-size: 1.4em;
    color: white;
}

.status {
    align-self: center;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    width: 60%;
    padding: 0.7em;
}

.valida {
    background-color: rgba(21, 234, 21, 0.618);
}

.invalida {
    background-color: rgba(255, 0, 0, 0.659);
}

@media screen and (max-width: 832px) {
    main {
        flex-direction: column;
    }
}



